

.tri-image {
        width: 300px;
        height: 300px;
    }

    .btn-image {
        background-image: url("https://vignette.wikia.nocookie.net/marvel-contestofchampions/images/1/1c/2-Star_Crystal.png/revision/latest?cb=20150825213642");
        background-repeat: no-repeat;

    }
